// FLEX
.flex-row {
    display: flex;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    align-items: center;
}

.center-vertical {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.update-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;

    button {
        width: fit-content;
    }
}


// @mixin section {
//     padding: 1rem;
//     border-radius: 10px;
//     border: 1px solid #561ae3;
//     box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
//     background-color: var(--white);
// }