.auth-page {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem auto;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    background-color: var(--white);

    .auth-section-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 2rem 0 1rem 0;
        color: var(--black);

        .auth-link {
            color: var(--accent);
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .btn-auth-register {
        background-color: var(--primary);
    }

    .btn-auth-login {
        background-color: var(--green);
    }

    form {
        margin: 1rem 0;

        input {
            width: 100%;
        }
    }

    .auth-link-back {
        color: var(--secondary);
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            color: var(--accent);
            text-decoration: underline;
        }
    }
}