.page-page {
    width: 100%;
}

.section:first-child {
    margin-top: 1.5rem;
}

.hero-form {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 1rem;
}

.home-page {

    .hero-section {
        display: flex;
        justify-content: space-between;

        .hero-title {
            padding: 0.5rem 0;
        }

        .hero-description {
            margin: 1.5rem 0 2.5rem 0;

            p {
                line-height: 1;
            }
        }

        .hero-image {
            img {
                border-radius: 5px;
            }

            .hero-image-action {
                justify-content: space-between;
                align-items: center;
            }
        }

        .hero-buttons {
            display: flex;
            gap: 1.5rem;
        }
    }

    .about-section {
        .about-me {
            margin-right: 4rem;
        }
    }

    .projects-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    .skills-section {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .skills-content {
            width: 35rem;
        }

        .tools {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .contact-section {
        width: 41.7rem;

        button {
            margin-top: 2rem;
        }
    }
}


.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 2rem;

    .about-grid-item-1 {
        grid-row: 1;
        grid-column: 1;
    }

    .about-grid-item-2 {
        grid-row: 2;
        grid-column: 2;
    }
}

// RESPONSIVE DESIGN
@media screen and (max-width: 800px) {
    .home-page {

        .hero-section {
            height: auto;
            flex-direction: column;


            .hero-image {
                width: 100%;
                height: auto;
                margin-top: 2rem;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .about-section {
            display: flex;
            flex-direction: column;

            .about-me {
                margin-right: 0rem;
            }
        }

        .skills-content {
            width: auto !important;
        }

        .tools {
            gap: 0.5rem !important;

            .tag {
                margin: 0.2rem 0;
            }
        }

        .contact-section {
            width: auto !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-form {
        flex-direction: column !important;
    }
}