button,
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid var(--black);
    border-radius: 18px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--black);
    border-radius: 18px;
    transition: all 1.5s ease;
    z-index: 1;
}

.btn-primary:after {
    content: "";
    // transition: all 01s ease;
}

.btn-primary:hover:after {
    padding-left: 0.2rem;
    content: "\2192";
}


.btn-secondary {
    width: fit-content;
    background: none;
    position: relative;
    transition: all 0.5s ease;
    border-radius: 18px;
    z-index: 1;
}

// .btn-secondary:after {
//     position: absolute;
//     content: "";
//     width: 0;
//     height: 100%;
//     top: 0;
//     right: 0;
//     z-index: -1;
//     background-color: var(--blue-light-2);
//     border-radius: 18px;
//     transition: all 0.5s ease;
// }

// .btn-secondary:hover {
//     color: var(--white) !important;
// }

// .btn-secondary:hover:after {
//     left: 0;
//     width: 100%;
// }

// .btn-secondary:active {
//     top: 2px;
// }


.btn-accent {
    background-color: var(--accent);
}

.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    background-color: var(--white);
    cursor: pointer;
    transition: 0.5s all ease;

    &:hover {
        background-color: var(--primary);
    }
}


.btn-save {
    color: var(--black);
    background-color: var(--green);
}


.btn-back {
    color: var(--accent);
    cursor: pointer;
    z-index: 100;
}

.btn-link {
    width: fit-content;
    margin: 1rem 0;
}

.link-more {
    align-self: center;
    gap: 0.5rem;
    font-weight: bold;

    transition: 0.3s all ease;

    &:visited,
    &:active {
        color: var(--accent);
    }

    &:hover {
        color: var(--black);
    }
}

.sublink-more {
    margin-top: 0.3rem;
    padding: 0 0.3rem;
    align-items: center;
    gap: 0.3rem;
    color: #41a0c23b;
    color: #1e5c723b;
}


.tag-link {
    padding: 0.5rem 1.5rem;
    background-color: var(--gray-super-light);
    border-radius: 15px;
    text-decoration: none;
    color: var(--black);
    transition: 0.9s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
    }
}

.to-top {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    background-color: var(--gray-super-light);
    opacity: 0.8;
    border-radius: 50%;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    z-index: 99;
    cursor: pointer;

    .icon-to-top {
        color: var(--accent);
        opacity: 1;
    }
}

.play-icon,
.play-section {
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        color: var(--accent);
    }
}



// ARROW LINK
.arrow-link {
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    // position: absolute;
    // right: 1.5rem;
    // bottom: 1.5rem;
    transform: rotate(45deg);

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-width: .3rem .3rem 0 0;
        border-style: solid;
        border-color: var(--primary);
        transition: .2s ease;
        display: block;
        transform-origin: 100% 0;
    }


    &:after {
        content: '';
        float: left;
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        border-width: 0 .3rem 0 0;
        border-style: solid;
        border-color: var(--primary);
        transform-origin: 100% 0;
        transition: .2s ease;
    }

    &:hover::after {
        transform: rotate(45deg);
        border-color: var(--accent);
        height: 120%;
    }

    &:hover::before {
        border-color: var(--accent);
        transform: scale(.8);
    }
}