.sidebar {
    width: 8rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-sidebar);
    color: var(--black);
    gap: 1rem;

    .sidebar-item {
        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding: 0.5rem 0;
    }

    .active {
        color: var(--accent);
        border-bottom: 2px solid var(--accent);
    }
}